html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #031b36;
    padding: 15px;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
}

/* Highlight the Home link */
.nav-links .active {
    color: rgb(255, 119, 0);
}

.nav-links a:hover {
    color: rgb(255, 119, 0);
}

/* Logo Styling */
.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

.logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Hero Section */
.hero {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Slider */
.slider {
    position: relative;
    width: 100%;
}

.slider-content {
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: rgb(255, 119, 0);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* Slider Buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #031b36;
    color: white;
    margin-top: 20px;
}

/* Footer Links and Contact Info */
footer .contact-info p,
footer .social-links a {
    color: rgb(255, 119, 0); /* Apply the orange color */
    font-weight: bold;
    text-decoration: none;
}

footer .social-links a:hover {
    text-decoration: underline;
}

